html {
  scroll-behavior: smooth;
}
/*
* Hader
* */

.navbar-toggle {
  width: calc(100% - 20px);
}
/*
* Event
* */
.banner-mobile {
    display: block;
    width: 100%;
}

.banner-desktop {
    width: 100%;
    display: none;
}

.content-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-list li {
    font-size: 18px;
}

.banner-container {
   padding: 0;
}

.banner-video-container {
    position: relative;
}

.banner-gradient {
    position: absolute;
    background: linear-gradient(to top, #ffffff 20%, transparent 100%);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.banner-gradient-inverted.banner-gradient-inverted {
    background: linear-gradient(to bottom, #ffffff 20%, transparent 100%);
}

.banner-video {
  width: 100%;
}

.overlapping-content {
  margin-top: -15rem;
  background-color: transparent;
}

/*
* Purchase
* */

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > h3 {
    z-index: 10;
    margin: 0 5rem;
}

.form-fields {
    padding: 0 5rem;
}

/*
* Galery
* */

.galery-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.z-10 {
  z-index: 10;
}

.text-white {
  color: white;
}

.card-container {
  margin: 20px auto;
}

.touch-tostart-container {
  margin-top: 17rem;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  gap: 4rem;
}

.touch-tostart-container .touch-tostart,
.touch-tostart-container .touch-tostart-lg {
  background-color: white;
  width: 12rem;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.touch-tostart-container .touch-tostart-lg {
  width: 20rem;
}

input[type="radio"].form-control {
  width: 2rem;
}

.grid-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.column {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  margin: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 640px) {
    .banner-mobile {
        display: none;
    }

    .banner-desktop {
        display: block;
    }

    .overlapping-content {
      margin-top: -35rem;
    }

    .touch-tostart-container .touch-tostart {
      margin-top: 30rem;
    }

    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
}
